.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  height: 20rem;
  border: 0.5px solid #9b9b9b;
  border-radius: 7px;
  margin: 2rem;
  padding: 0 2rem;
}

.cardContainer h1 {
  color: #e78db3;
  font-size: 1.2rem;
  text-align: center;
}

.cardContainer img {
  width: 17rem;
  height: 11.2rem;
  object-fit: cover;
}
