.loggedInMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loggedInAccount {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65rem;
}