.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 2rem;
  }
  
  h1.title {
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navItems {
    list-style: none;
    cursor: pointer;
  }
  
  .titleWord {
    animation: color-animation 4s linear infinite;
  }
  
  .titleWord1 {
    --color-1: #df8453;
    --color-2: #3d8dae;
    --color-3: #e4a9a8;
  }
  
  .titleWord2 {
    --color-1: #dbad4a;
    --color-2: #accfcb;
    --color-3: #17494d;
  }
  
  @keyframes color-animation {
    0% {
      color: var(--color-1);
    }
    32% {
      color: var(--color-1);
    }
    33% {
      color: var(--color-2);
    }
    65% {
      color: var(--color-2);
    }
    66% {
      color: var(--color-3);
    }
    99% {
      color: var(--color-3);
    }
    100% {
      color: var(--color-1);
    }
  }